{% extends 'index.html' %}

{% block Content %}
<section class="m-3">
    <h1>Create a User</h1>


    <form action="/users/new" method="POST">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="first_name">First Name</label>
                <input class="form-control" type="text" name="first_name" placeholder="Enter a first name" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="last_name">Last Name</label>
                <input class="form-control" type="text" name="last_name" placeholder="Enter a last name" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="img_url">Image Url</label>
                <input class="form-control" type="text" name="img_url" placeholder="Provide an image of a user"
                    >
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3 d-flex justify-content-end">
                <button class="btn btn-success">Add</button>
            </div>
        </div>
    </form>

</section>

{% endblock %}